<header class="navbar">
    <mat-toolbar class="background-dark">
        <a href="">
            <img src="../assets/logo-dark.png" alt="" style="width: 200px;">
        </a>
        <span class="example-fill-remaining-space"></span>
        <button mat-button class="button-dark">
      <mat-icon aria-hidden="false" class="orange" aria-label="home">home</mat-icon> Home
    </button>
        <button mat-button class="button-dark">
      <mat-icon aria-hidden="false" class="orange" aria-label="list_alt">list_alt</mat-icon> Quem somos
    </button>
        <button mat-button class="button-dark">
      <mat-icon aria-hidden="false" class="orange" aria-label="list_alt">list_alt</mat-icon> Planos
    </button>
        <button mat-button class="button-dark">
      <mat-icon aria-hidden="false" class="orange" aria-label="contacts">contacts</mat-icon> Contato
    </button>
    </mat-toolbar>
</header>
<carousel>
    <slide>
        <img src="../assets/carousel1.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../assets/carousel3.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../assets/carousel1.png" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<mat-grid-list cols="3" rowHeight="2:1" class="background-dark">
    <mat-grid-tile class="mt-3 mb-1 text-center">
        <mat-card class="card-orange mx-3">
            <mat-card-content>
                <mat-card-title>
                    <mat-icon class="fs-60" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </mat-card-title>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="mt-3 mb-1 text-center">
        <mat-card class="card-orange mr-3">
            <mat-card-content>
                <mat-card-title>
                    <mat-icon class="fs-60" aria-hidden="false" aria-label="list_alt">list_alt</mat-icon>
                </mat-card-title>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="mt-3 mb-1 text-center">
        <mat-card class="card-orange mr-3">
            <mat-card-content>
                <mat-card-title>
                    <mat-icon class="fs-60" aria-hidden="false" aria-label="contacts">contacts</mat-icon>
                </mat-card-title>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<!-- Footer -->
<footer class="footer pt-4 mt-5">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a href="">
                <img src="../assets/logo-dark.png" alt="" style="width: 200px;">
            </a>
        </div>
        <!-- Copyright -->
    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->